html, body, header, nav, figure, h1, h2, h3, h4, p, a, section, img, li, ul, footer, form, textarea, article, aside
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
