html, body, header, nav, figure, h1, h2, h3, h4, p, a, label, section, img, li, ul, footer, form, button, input, textarea, article, aside, small, .box, .blogbox
{
  margin: 0;
  padding: 0;
  border: 0;
  width: 0;
  height: 0;
  vertical-align: baseline;
  background-color: inherit;
}
