header {
  text-align: center;
  font-family: Tahoma;
}

.navmenu ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #3176f5;
}

.topme article {
  overflow: hidden;
  display:inline-block;
  font-family: Tahoma;
}

.topme .search {
  float: right;
}


footer {
  position: relative;
  bottom: 0;
  float: right;
  font-family: Tahoma;
  padding:5px, 3px;
  background-color: #3176f5;
  border: 4px solid #3176f5;
  color: white;
}

aside {
  float: right;
  padding: 10px;
  width: 15%
}

#left {
  float: left;
  padding: 10px;
}

#left .info h2, h3, p, pre, li {
  font-family: Tahoma;
  text-align: left;
}

#left .contact h4, p, h3, h2, a{
  font-family: Tahoma;
}

.blogtext {
  font-family: Tahoma;
  color: white;
}

img {
  width: 600px;
  height: 400px;
}

figcaption {
  font-family: Tahoma;
}

.navmenu li {
  float: left;
}

.navmenu li a {
  text-align: center;
  display: block;
  font-family: Tahoma;
  color: white;
  padding: 10px 12px;
  text-decoration: none;
}

.navmenu li a:hover {
  background-color: #2761cc;
}

.about h2, p{
  text-align: center;
  font-family: Tahoma;
}

.login {
  text-align: center;
}

.login label {
  font-family: Tahoma;
  color: white;
  padding-bottom: 10px;
}


.box
{
  width: 780px;
  margin: auto;
  text-align: center;
  background-color: #3176f5;
}

.blogbox
{
  margin: auto;
  background-color: #3176f5;
  text-align: center;
  color: white;
  font-family: Tahoma;
  overflow: hidden;
}


hr
{
  color: white;
}

.blogbox button
{
  background-color: #2761cc;
  color: white;
  border: none;
  display: inline-block;
  text-align: right;
  padding: 10px 20px;
}

.blog
{
  width: 700px;
  margin: auto;
  text-align: center;
  background-color: #3176f5;
}

#title, #description
{
  width: 500px;
}

textarea
{
  height: 250px;
  font-family: Tahoma;
}

button
{
  background-color: #2761cc;
  color: white;
  border: none;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
}

.social
{
  width: 150px;
  height: 150px;
}

button:hover
{
  background-color: #0941ab;
}
